@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800);
#wholetitle
{
    background-color: #668284;
    margin: 0 0 10px 0;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font: bold 30pt 'Merriweather Sans', sans-serif;
}

#title
{
    color: #668284;
    font: bold 10pt 'Merriweather Sans', sans-serif;
    margin: 0.5em 16px 0 16px;
    float: left;
    clear: none;
}

#editor
{
    font: 300 10pt 'Merriweather Sans', sans-serif;
    height: 20em;
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
}

#toolbar
{
    font: 10pt 'Merriweather Sans', sans-serif;
    background-color: #E3EDD8;
    margin: 0 0 6px 0;
    padding: 6px;
    border-radius: 5px;
    height: 40px;
}

#mainbar
{
    font: 10pt 'Merriweather Sans', sans-serif;
    background-color: #E3EDD8;
    margin: 0 0 6px 0;
    padding: 6px;
    border-radius: 5px;
    height: 40px;
}

.newsilde
{
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    height: 100px;
    border: 1px solid black;
}

.textinput
{
    width: 40%; height: 50px; border: 2px solid rgb(0, 0, 0);
}

#addphoto
{

    font: 10pt 'Merriweather Sans', sans-serif;
    color: #668284;
    background-color: #E3EDD8;
    padding: 6px;
    border: none;
    float: left;

    box-shadow: 1px 1px 0 #000;
    -webkit-box-shadow: 1px 1px 0 #000;
    -moz-box-shadow: 1px 1px 0 #000;

}

#addphoto:hover
{
    background-color: #E3EDD8;
}

#addphoto:active
{
    background-color: #668284;
    transform: translate( 1px, 1px );
    -webkit-transform: translate( 1px, 1px );
    -moz-transform: translate( 1px, 1px );

    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
}

button
{
    font: 10pt 'Merriweather Sans', sans-serif;
    color: #668284;
    background-color: #E3EDD8;
    padding: 6px;
    border: none;
    float: left;

    box-shadow: 1px 1px 0 #000;
    -webkit-box-shadow: 1px 1px 0 #000;
    -moz-box-shadow: 1px 1px 0 #000;
}

button:hover
{
    background-color: #E3EDD8;
}

button:active
{
    background-color: #668284;
    transform: translate( 1px, 1px );
    -webkit-transform: translate( 1px, 1px );
    -moz-transform: translate( 1px, 1px );

    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
}
